<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cocos2d-chipmunk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cocos2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cocos3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93BC725019D2CF6600B20222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93BC730E19D2CF6700B20222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93BC731119D2CF6700B20222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93BC754919D2CF6900B20222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
